<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @import_short_ftp_triathlon.place %>
</p>

<p>
  <strong>Ftp number:</strong>
  <%= @import_short_ftp_triathlon.ftp_number %>
</p>

<p>
  <strong>Ftp license:</strong>
  <%= @import_short_ftp_triathlon.ftp_license %>
</p>

<p>
  <strong>Athlete name:</strong>
  <%= @import_short_ftp_triathlon.athlete_name %>
</p>

<p>
  <strong>Pen:</strong>
  <%= @import_short_ftp_triathlon.pen %>
</p>

<p>
  <strong>Age group name:</strong>
  <%= @import_short_ftp_triathlon.age_group_name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @import_short_ftp_triathlon.team %>
</p>

<p>
  <strong>Swimming position:</strong>
  <%= @import_short_ftp_triathlon.swimming_position %>
</p>

<p>
  <strong>Swimming time:</strong>
  <%= @import_short_ftp_triathlon.swimming_time %>
</p>

<p>
  <strong>Cycling position:</strong>
  <%= @import_short_ftp_triathlon.cycling_position %>
</p>

<p>
  <strong>Cycling time:</strong>
  <%= @import_short_ftp_triathlon.cycling_time %>
</p>

<p>
  <strong>Running position:</strong>
  <%= @import_short_ftp_triathlon.running_position %>
</p>

<p>
  <strong>Running time:</strong>
  <%= @import_short_ftp_triathlon.running_time %>
</p>

<p>
  <strong>Race time:</strong>
  <%= @import_short_ftp_triathlon.race_time %>
</p>

<%= link_to 'Edit', edit_import_short_ftp_triathlon_path(@import_short_ftp_triathlon) %> |
<%= link_to 'Back', import_short_ftp_triathlons_path %>
