<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @team.location_id %>
</p>

<p>
  <strong>Site:</strong>
  <%= @team.site %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @team.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @team.twitter %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
