<%= form_for(@triathlon_race) do |f| %>
  <% if @triathlon_race.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@triathlon_race.errors.count, "error") %> prohibited this triathlon_race from being saved:</h2>

      <ul>
      <% @triathlon_race.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :hour %><br />
    <%= f.time_select :hour %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :swimming_distance %><br />
    <%= f.text_field :swimming_distance %>
  </div>
  <div class="field">
    <%= f.label :cycling_distance %><br />
    <%= f.text_field :cycling_distance %>
  </div>
  <div class="field">
    <%= f.label :running_distance %><br />
    <%= f.text_field :running_distance %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :competition_id %><br />
    <%= f.number_field :competition_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
