<h1>Listing triathlon_races</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Hour</th>
    <th>Type</th>
    <th>Swimming distance</th>
    <th>Cycling distance</th>
    <th>Running distance</th>
    <th>Location</th>
    <th>Competition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @triathlon_races.each do |triathlon_race| %>
  <tr>
    <td><%= triathlon_race.date %></td>
    <td><%= triathlon_race.hour %></td>
    <td><%= triathlon_race.type %></td>
    <td><%= triathlon_race.swimming_distance %></td>
    <td><%= triathlon_race.cycling_distance %></td>
    <td><%= triathlon_race.running_distance %></td>
    <td><%= triathlon_race.location_id %></td>
    <td><%= triathlon_race.competition_id %></td>
    <td><%= link_to 'Show', triathlon_race %></td>
    <td><%= link_to 'Edit', edit_triathlon_race_path(triathlon_race) %></td>
    <td><%= link_to 'Destroy', triathlon_race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Triathlon race', new_triathlon_race_path %>
