<%= form_for(@race) do |f| %>
  <% if @race.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@race.errors.count, "error") %> prohibited this race from being saved:</h2>

      <ul>
      <% @race.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :competition_id %><br>
    <%= f.number_field :competition_id %>
  </div>
  <div class="field">
    <%= f.label :sport_id %><br>
    <%= f.number_field :sport_id %>
  </div>
  <div class="field">
    <%= f.label :global_race_id %><br>
    <%= f.number_field :global_race_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
