<p id="notice"><%= notice %></p>

<p>
  <strong>Ftp number:</strong>
  <%= @athlete.ftp_number %>
</p>

<p>
  <strong>Ftp license:</strong>
  <%= @athlete.ftp_license %>
</p>

<p>
  <strong>Name:</strong>
  <%= @athlete.name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @athlete.full_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @athlete.birth_date %>
</p>

<p>
  <strong>Team:</strong>
  <%= @athlete.team_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @athlete.location_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @athlete.email %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @athlete.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @athlete.twitter %>
</p>

<p>
  <strong>Url:</strong>
  <%= @athlete.url %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @athlete.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @athlete.nationality %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
