<p id="notice"><%= notice %></p>

<p>
  <b>Ftp license:</b>
  <%= @athlete.ftp_license %>
</p>

<p>
  <b>Name:</b>
  <%= @athlete.name %>
</p>

<p>
  <b>Full name:</b>
  <%= @athlete.full_name %>
</p>

<p>
  <b>Birth date:</b>
  <%= @athlete.birth_date %>
</p>

<p>
  <b>Team:</b>
  <%= @athlete.team_id %>
</p>

<p>
  <b>Country iso:</b>
  <%= @athlete.country_iso %>
</p>

<p>
  <b>Place:</b>
  <%= @athlete.place_id %>
</p>

<p>
  <b>Email:</b>
  <%= @athlete.email %>
</p>

<p>
  <b>Facebook:</b>
  <%= @athlete.facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%= @athlete.twitter %>
</p>

<p>
  <b>Url:</b>
  <%= @athlete.url %>
</p>

<p>
  <b>Ftp number:</b>
  <%= @athlete.ftp_number %>
</p>


<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
