<p id="notice"><%= notice %></p>

<p>
  <strong>Athlete:</strong>
  <%= @segment_result.athlete_id %>
</p>

<p>
  <strong>Segment:</strong>
  <%= @segment_result.segment_id %>
</p>

<p>
  <strong>Place:</strong>
  <%= @segment_result.place %>
</p>

<p>
  <strong>Time:</strong>
  <%= @segment_result.time %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @segment_result.age_group_id %>
</p>

<p>
  <strong>Class:</strong>
  <%= @segment_result.class_id %>
</p>

<%= link_to 'Edit', edit_segment_result_path(@segment_result) %> |
<%= link_to 'Back', segment_results_path %>
